:root{
    --red-color: #ce1212;
    --section-bg: rgb(241, 241, 241);
    --font-first: "Open Sans", sans-serif !important;
    --font-second: 'Delicious Handrawn', cursive !important;
    --swiper-pagination-color: #ce1212 !important; // active pagination
    --swiper-pagination-bullet-inactive-color: rgb(255, 255, 255) !important; // Not active pagination
    --swiper-pagination-bullet-inactive-opacity: 1;
}