.events{
    .mySwiper.swiper-largescreen{
        height: 80vh;
        width: 100%;
        @include mobileScreen{
            display: none !important;
        }
        @include smallScreen{
            display: none !important;
        }
        swiper-slide{
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            object-fit: cover;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.644);
            }
            h3, span, p{
                position: relative;
                z-index: 10;
                color: white;
            }
            span{
                width: fit-content;
                border-bottom: 3px solid var(--red-color);
            }
        }
    }
    .mySwiper.swiper-mobilescreen{
        height: 80vh;
        width: 100%;
        @include MediumScreen{
            display: none !important;
        }
        @include largeScreen{
            display: none !important;
        }
        swiper-slide{
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            object-fit: cover;
            padding: 15px;
            text-align: center !important;
            display: flex;
            flex-direction: column;
            justify-content: end;
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.644);
            }
            h3, span, p{
                position: relative;
                z-index: 10;
                color: white;
            }
            span{
                width: fit-content;
                border-bottom: 3px solid var(--red-color);
            }
        }
    }
}